translator: google
gpt_model: gpt-4o
hotkey: alt+t
language_from: en
language_to: ja
mouse_hotkey: alt+y
openai_api_key: sk-~~~
deepl_api_key: 01~~~~
overlay_position:
  x: 82
  y: 376
capture_region:
  height: 1080
  width: 1920
  x: 0
  y: 0
